*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box {
    width: 55%;
    height: 50%;
    padding: 25px;
    border: 5px solid black;
    margin: 25px;
    background-color: rgb(113, 117, 121);
    background-image: url(images.jpg);
    
}
h1 {
    font-weight: bold;
    color: blue;
    margin-bottom: 56px;
}
body >h1 >p{
    font-size: 20px;
}
div p{
    font-size: 16px;
}